span {
  font-size: 12px !important;
  font-weight: bold !important;
}

@media (min-width: 360px) and (max-width: 720px) {
  table  {
    display: block !important;
  }

  .productList-sm {
    display: flex !important;
    width: 100% !important;
  }

  .titleRow-sm {
    display: none !important;
  }

  .productColumn-sm {
    display: table-cell !important;
  }
}